.user-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .hr-width{
    width: 35%;
  }
  .text-justify{
    text-align: justify;
  }
  .card-image{
    width: 100%;
    height: 350px;   
  }
  .testimonial-image{
    width: 150px;
    height: 150px;  
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  .star-color{
    color: goldenrod;
  }
  .order-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
.font-size{
  font-size: 18px;
}