.user-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .hr-width{
    width: 35%;
  }
  .text-justify{
    text-align: justify;
  }
  .card-image{
    width: 100%;
    height: 350px;   
  }
  .testimonial-image{
    width: 150px;
    height: 150px;  
  }
  .star-color{
    color: goldenrod;
  }